* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 500;
    list-style-type: none; 
}

body{
    background-color: black;
}
header{
    height: 3.5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav{
    display: flex;
    /* background-color: red; */
    width: 30%;
    height: 100%;
    align-items: center;
}
.nav ul{
    display: flex;
    list-style-type: none; 
    width: 80%;
    justify-content: space-between;
}
.nav li{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}

.banner{
    /* background-color: #272833; */
    display: flex;
    background:  linear-gradient(to bottom, rgba(10, 10, 10, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%) , url(img/banner.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 25%);
    height: 100vh;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.banner .content{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.logo_fleche a{
    cursor: pointer;
    min-height: 5vh;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#image-text{
    display: flex;
    align-items: center;
}

#div-ordi{
    margin-left: 3em;
}

#ordi{
    border-radius: 50%;
}

h1{
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

#metier{
    font-size: 1.25em;
}

#projet-section{
    background:  linear-gradient(to bottom, rgba(10, 10, 10, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%) , url(img/bureau.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 25%);
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
}

.list_projet{
    display: flex;
    width: 80%;
    height: 100vh;
    flex-direction: column;
}

.pro{
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projet figure{
    cursor: pointer;
}

#projet-text{
    width: 20%;
    display: flex;
    background-color: rgba(10, 10, 10, 0.8);
    height: 100vh;
}

#projet-text div {
    /* width: 50px; */
    text-align: left;
    padding-top: 10em;
    margin: 0 5em;
}

h2{
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

#projet-text div p {
    font-size: 1.5em;  
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite; 
}

#footer{
    background-color: black;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 20em;
}

.icons li{
    cursor: pointer;
}


@media all and (max-width: 1180px)
{
    #bloc_page
    {
        width: auto;
    }
    #projet-text{
        display: none;
    }

    .list_projet
    {
        width: 100%;
    }

    .projet figure img{
        max-width: 200px;
    }

}

@media all and (max-width: 945px) {
    .pro{
        flex-wrap: wrap;
    }

}

@media all and (max-width: 710px){
    #div-ordi img{
        max-width: 150px;
    }
    /* .banner{
        max-height: 50vh;
    } */
}


@media all and (max-width: 510px){
    #div-ordi {
        display: none;
    }

    .projet figure img{
        max-width: 150px;
    }
}